.colorize {
    border-color: #ffffff;
}
.sliderChannelA {
    text-align: right;
    padding-bottom: 1rem;
}
.sliderChannelB {
    text-align: right;
    padding-bottom: 1rem;
}

.sliderChannelA input {
    width: 75%;
}
.sliderChannelB input {
    width: 75%;
}

.channelSelector {
    padding-bottom: 1rem;;
}
#masterVolumeSlider {
    width: 75%;
}
